.HeaderBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(250, 227, 207);
  border-radius: 12px;
  height: 60px;
}

.HeaderLeft {
  font-size: 1.5rem;
  cursor: pointer;
  padding-left: 20px;
}

.HeaderRight {
    font-size: 1.5rem;
    padding: 20px;
}

.HeaderRight a {
    padding: 0px 20px;
    text-decoration: none;
    color: inherit
}